.App {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  min-height: 100vh;
}

.Header {
  grid-row: 1;
}

.Main {
  grid-row: 2;
  padding: 2rem;
  background-color: #fff;
}

.Footer {
  grid-row: 3;
}