@use './variables.scss' as v;
@use './mixins.scss' as m;

.container_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: v.$font-stack;

  img {
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }

  h4 {
    font-size: 1.2rem;
    margin: 0 10px;
    color: v.$primary;
  }

  p {
    color: darken(v.$secondary, 30%);
    margin: 15px;
  }

  .button_cart {
    display: flex;
    gap: 10px;
    align-items: center;

    button {
      
      &.increment {
        @include m.button-style(v.$primary, white);
      }

      &.decrement {
        @include m.button-style(v.$accent, white);
      }
    }

    p {
      font-weight: bold;
      color: v.$primary;
    }
  }
}

.item-list {
  .container_cart {
    &:nth-child(odd) {
      background-color: v.$secondary;
    }

    &:nth-child(even) {
      background-color: darken(v.$secondary, 8%);
    }
  }
}

.total-carrito {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.botton-actions {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
}